.landing__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
}

.home {
  .landing__container {
    padding: 3em 1em;
    gap: 6em;
  }
}

.landing__home {
  display: flex;
  flex-direction: column;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.4em;
      color: var(--clr-font);
      background-color: #782929;
      color: #fff;
      padding: 0.25em 1em;
    }
    a {
      color: var(--clr-font-link);
      text-decoration: underline;
    }
  }
  &-bot {
    // padding: 1em;
    // background-color: rgb(204, 204, 204);
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    .card {
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-width: 500px) {
  .landing__container {
    padding: 1rem 0;
  }
}
