.navbar {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 3em 1em;

  &__top {
    display: flex;
    gap: 1em;
    margin-left: auto;

    &-links {
      display: flex;
      gap: 1em;
      align-items: center;

      div {
        font-size: 1em;
        display: flex;
        gap: 0.25em;
        align-items: center;
        color: var(--clr-drk);
        cursor: pointer;
      }
    }
  }

  .svg-box {
    width: 1.5em;
    height: 1.5em;
  }

  &__logo {
    margin: auto;

    .image-container {
      width: 200px;
      height: 200px;
    }
  }

  nav {
    margin: auto;
  }

  &__content {
    display: flex;
    gap: 2em;

    a {
      font-size: 1em;
      padding: 0.25em 0.75em;
      display: flex;
      border: 1px solid transparent;
      color: var(--clr-font-drk);

      &.active {
        border-bottom-color: var(--clr-font-drk);
      }
    }

    li:hover a {
      border-bottom-color: var(--clr-font-drk);
    }

    &--semi {
      a {
        color: var(--clr-font-md);
      }
    }
  }
}

.searchbar {
  display: flex;
  gap: 0.5em;

  &__svg {
    cursor: pointer;
  }

  input {
    border: none;
    border-bottom: 1px solid rgb(129, 129, 129);
    outline: none;
    background-color: transparent;
  }

  input:focus {
    border-bottom: 1px solid rgb(29, 29, 29);
  }
}

@media (max-width: 800px) {
  .navbar__content {
    display: none;
  }
}
