@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
/* 'Poppins', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* "Lato", sans-serif; */

:root {
  /* main colors */
  --clr-primary: #042c54;
  --clr-secondary: #fff;
  --clr-drk: #212529;
  --clr-highlight: #3c4bd2;

  /* font colors */
  --clr-font: #424242;
  --clr-font-md: #646464;
  --clr-font-drk: #1e1e1e;
  --clr-font-lgt: #9c9c9c;
  --clr-font-link: #040cf1;

  /* status colors */
  --clr-warning: #fff;
  --clr-success: #fff;
  --clr-default: #fff;

  /* background color */
  --clr-bg: #faf9f8;
  --clr-bg-lgt: #f5f5f5;

  /* max width */
  --max-width: 1400px;

  /* font family */
  --font-family-primary: sans-serif;
}
