.product {
  display: flex;
  justify-content: center;
  .wrapper {
    min-width: 16rem;
    // max-width: 120rem;
    width: 100%;
  }

  &__content {
    padding: 2rem 20px;
    display: flex;
    justify-content: center;
  }
}

.product__img {
  position: relative;
  overflow: hidden;
  aspect-ratio: 2/3;
  min-width: 24rem;
  max-width: 40rem;
  width: 100%;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-hide {
    background-color: #ffffff63;
    border: none;
    width: 100%;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    aspect-ratio: 6/3;
    border: 1px solid rgb(201, 201, 201);
    text-shadow: 0px 0px 5px #fff;
  }

  &-hide:hover {
    background-color: #faf9f8;
  }

  &-list {
    position: absolute;
    width: 16%;
    max-width: 6rem;
    min-width: 4rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    padding: 0.2em;
    gap: 0.35em;
    overflow-y: auto;
    scrollbar-width: none;
    height: auto;
  }

  &-list::-webkit-scrollbar {
    display: none;
  }

  &-list img {
    width: 100%;
    border: 1px solid rgb(201, 201, 201);
    aspect-ratio: 2/3;
    background-color: rgba(0, 0, 0, 0.18);
    cursor: pointer;
  }

  &-list img:hover {
    border: 1px solid rgb(233, 183, 183);
    transform: scale(1.05);
    z-index: 3;
  }
}

.product__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 572px;
  width: 100%;
  padding: 2em;
  height: auto;

  &-info {
    font-size: 1em;
    margin-bottom: 10px;
  }

  &-info:nth-child(1) {
    margin-bottom: auto;
  }

  &-info h1 {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  &-info span {
    font-weight: bolder;
  }
}

.product__size {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-text {
    font-size: 1.2rem;
    display: flex;
    gap: 2rem;
  }

  &-text--warning {
    color: red;
  }

  &-text span {
    color: black;
    font-size: 1.2rem;
  }

  &-box {
    display: flex;
    align-items: center;
  }

  &-item {
    width: 100%;
    aspect-ratio: 2/1;
    border: 1px solid rgb(204, 204, 204);
    background-color: transparent;
    border-right-color: transparent;
    font-size: 0.9em;
  }

  &-item:nth-last-child(1) {
    border-right-color: rgb(204, 204, 204);
  }

  &-item:disabled {
    background-color: rgb(247, 247, 247);
    color: rgb(196, 196, 196);
    cursor: default;
  }

  &-item:hover {
    border: 1px solid var(--clr-drk);
    background-color: rgb(242, 242, 242);
  }

  &-item.active {
    border: 1px solid var(--clr-drk);
  }
}

.product__btn {
  background-color: var(--clr-drk);
  color: #fff;
  padding: 1em;
  font-size: 1em;

  &:hover {
    background-color: #35393d;
  }
}

.product__policy {
  font-size: 0.9em;
}

.zoomin {
  width: 100%;
  height: 100%;
  touch-action: none;
  cursor: crosshair;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    user-select: none;
    pointer-events: none;
  }
}

@media (max-width: 850px) {
  .product__text {
    padding: 1em;
  }
}

@media (max-width: 700px) {
  .product {
    &__content {
      padding: 0rem;
      flex-direction: column;
    }
  }

  .product__text {
    padding: 1em;
  }

  .product__img {
    max-width: 100%;
    min-width: 0;
  }
}
