.admin {
  display: flex;
}
.admin .wrapper {
  width: 100%;
  max-width: 1200px;
}
.admin > .container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2rem 1rem;
}
.admin nav {
  display: flex;
  gap: 1em;
}
.admin nav a {
  color: var(--font-clr);
  background-color: var(--clr-font-md);
  color: #eaeaea;
  padding: 0.15rem 1rem;
  border-radius: 2px;
}
.admin nav a.isActive {
  color: #fff;
  background-color: var(--clr-primary);
}
.admin__top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.admin h1 {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--clr-font);
  padding: 2em 0;
}
.admin .image-container {
  width: 5rem;
  aspect-ratio: 2/3;
  position: relative;
  border: 1px solid rgb(79, 79, 79);
}
.admin .image-container img {
  opacity: 0.4;
  filter: contrast(80%);
}
.admin .image-container__delete {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.admin .modal-bg {
  z-index: 998;
}

.admin__product .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.admin__product-add {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: rgb(175, 214, 166);
  border-radius: 2px;
}
.admin__product table {
  border-collapse: collapse;
  width: 100%;
}
.admin__product table thead {
  width: 100%;
  background-color: var(--clr-primary);
  color: #fff;
}
.admin__product table thead th {
  padding: 0.25rem 0.5rem;
}
.admin__product table tbody {
  width: 100%;
}
.admin__product table tbody tr:nth-child(2n) {
  background-color: rgb(232, 232, 232);
}
.admin__product table tbody td {
  padding: 0.25rem 0.5rem;
  width: 5%;
  text-align: center;
}
.admin__product table tbody td:nth-of-type(2) {
  width: 100%;
}

.admin__upload {
  position: fixed;
  top: 5em;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  pointer-events: none;
}
.admin__upload > .container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: #fff;
  max-width: 40rem;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  pointer-events: all;
}
.admin__upload-header {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--clr-font);
}
.admin__upload-row {
  display: flex;
  gap: 1rem;
}
.admin__upload form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.admin__upload label {
  display: flex;
  gap: 0.5em;
  width: 100%;
  flex-direction: column;
}
.admin__upload input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid rgb(186, 186, 186);
}
.admin__upload input:hover, .admin__upload input:focus {
  border: 1px solid rgb(142, 166, 230);
  outline: 3px solid rgb(142, 166, 230);
}
.admin__upload textarea {
  padding: 0.5rem;
  border: 1px solid rgb(186, 186, 186);
  width: 100%;
  border-radius: 4px;
  height: 6rem;
}
.admin__upload textarea:hover, .admin__upload textarea:focus {
  border: 1px solid rgb(142, 166, 230);
  outline: 3px solid rgb(142, 166, 230);
}
.admin__upload select {
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid rgb(186, 186, 186);
}
.admin__upload-stock {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.admin__upload-stock label {
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: row;
  align-items: center;
}
.admin__upload-stock label button {
  border-radius: 4px;
  color: #fff;
  background-color: var(--clr-primary);
  padding: 0.5rem 1rem;
}
.admin__upload-stock-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.admin__upload-stock-item {
  display: flex;
  gap: 0.5rem;
}
.admin__upload-stock-item select {
  height: 100%;
}
.admin__upload-stock-item input {
  width: 6rem;
  height: 100%;
}
.admin__upload-stock-item button {
  width: 2rem;
  height: 100%;
  background-color: var(--clr-warn);
  border-radius: 4px;
  color: #fff;
}
.admin__upload-image {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.admin__upload-image label {
  flex-direction: row;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.admin__upload-image button {
  border-radius: 4px;
  background-color: var(--clr-primary);
  color: #fff;
  padding: 0.5rem;
}
.admin__upload-image-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.admin__upload-submit {
  padding: 0.5rem;
  background-color: var(--clr-primary);
  color: #fff;
  border-radius: 4px;
}

.page-link {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.admin__product .pagination {
  display: flex;
  gap: 1rem;
  margin: auto;
  width: 100%;
  max-width: 30rem;
  justify-content: space-between;
}
.admin__product .active {
  background-color: var(--clr-primary);
  color: #fff;
}/*# sourceMappingURL=index.css.map */