.cart {
  margin-bottom: 6rem;

  h1 {
    padding: 3rem 1rem;
    font-weight: bold;
    font-size: 1.4em;
  }

  &__content {
    display: flex;
    gap: 1em;
    padding: 1em;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    div {
      font-size: 1.4em;
      color: var(--clr-font);
    }
    span {
      color: var(--clr-font);
    }
  }
}

.cart__items {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cart__card {
  display: flex;
  width: 100%;
  position: relative;

  .image-container {
    flex-shrink: 0;
    height: 12em;
    aspect-ratio: 2/3;
  }

  &-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em;
  }

  &-top {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 1.2em;
    }
    div {
      color: var(--clr-font);
    }
  }

  &-qty {
    display: flex;
    gap: 0.5em;
  }

  &-bot {
    margin-top: auto;
    color: var(--clr-font);
  }

  &-btn {
    display: flex;
    gap: 0.5rem;
    align-self: flex-start;
  }
}

.cart__info {
  flex: 1 1 50%;
  border: 1px solid black;
  padding: 2em 1em;
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: auto;
  position: sticky;
  top: 3rem;
  h2 {
    color: var(--clr-font);
    font-size: 1.4em;
    font-weight: bold;
  }
}

.cart__price {
  display: flex;
  flex-direction: column;
  gap: 1em;
  &-items {
    padding: 1em;
  }
  &-card {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    color: var(--clr-font);
    h3 {
    }
    div {
      text-wrap: nowrap;
    }
  }
  &-btn {
    background-color: var(--clr-font);
    width: 100%;
    padding: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    &:hover {
      background-color: black;
    }
  }
  &-total {
    display: flex;
    padding: 1em;
    gap: 1em;
    justify-content: space-between;
    color: var(--clr-font);

    div {
      &:nth-of-type(1) {
        font-weight: bold;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    span {
      font-weight: bold;
    }
    p:nth-of-type(1) {
      color: red;
      font-style: italic;
    }
    p:nth-of-type(2) {
      color: var(--clr-font-md);
    }
  }
}

@media (max-width: 950px) {
  .cart {
    &__content {
      flex-direction: column;
    }
  }

  .cart__info {
    max-width: none;
    h2 {
      color: var(--clr-font);
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}

@media (max-width: 500px) {
  .cart {
    &__content {
      flex-direction: column;
    }
  }

  .cart__info {
    max-width: none;
  }

  .cart__price {
    &-items {
      padding: 0;
    }
    &-total {
      padding: 0;
    }
  }
}
