.login {
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60rem;
  .wrapper {
    max-width: 30rem;
    width: 100%;
  }
  &__content {
    padding: 2em 1em;
    color: var(--clr-font);
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 2em;
    label {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      font-weight: bold;
    }
    input {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid rgb(195, 195, 195);
      outline: none;
      font-size: 1em;
      padding: 0.5rem 0;

      &::placeholder {
        color: rgb(197, 197, 197);
      }

      &:focus {
        border-bottom: 1px solid rgb(0, 0, 0);
      }
    }
  }
  &__bot {
    display: flex;
    flex-direction: column;
    gap: 1em;
    button {
      width: 100%;
      padding: 1em;
      background-color: var(--clr-primary);
      color: #fff;
    }
    div {
      color: var(--clr-font-md);
      a {
        color: var(--clr-font-link);
      }
    }
  }
  &__other {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
  &__label {
    position: relative;
    width: 100%;
    text-align: center;

    > div {
      position: relative;
      z-index: 2;
      padding: 0 1em;
      background-color: var(--clr-bg);
      width: fit-content;
      margin: auto;
      color: var(--clr-font-md);
    }

    > span {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: rgb(212, 212, 212);
    }
  }
}
