footer .wrapper {
  width: 100%;
  padding: 4rem 1rem;
  display: flex;
  max-width: 1800px;
  margin: auto;
  gap: 4rem;
  flex-direction: column;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__links__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__links__content ul {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__links__content li {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

.footer__links__content a {
  text-decoration: none;
  color: rgb(117, 117, 117);
}

.logo-img-box {
  position: relative;
  width: 8rem;
  aspect-ratio: 13/15;
  margin-left: -1.2rem;
  margin-bottom: -3rem;
}

.logo-img-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer h2 {
  font-size: 1em;
  font-weight: bold;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.copyright {
  max-width: 50rem;
}

@media screen and (max-width: 620px) {
  .footer__links {
    flex-direction: column;
    gap: 4rem;
  }

  .footer__links__content {
    gap: 1rem;
  }
}
