.navbar-size {
  width: 100%;
  height: 3rem;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1em;
  height: 3rem;
  position: fixed;
  top: 0;
  background-color: var(--clr-bg);
  z-index: 998;

  svg {
    width: 1.75em;
    height: 1.75em;
    cursor: pointer;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0em 1em;
    width: 100%;
  }

  &__top {
    display: flex;
    gap: 1em;
    width: 100%;
    position: relative;
    justify-content: space-between;

    &-feature {
      display: flex;
      gap: 1em;
      align-items: center;

      div {
        font-size: 1em;
        display: flex;
        gap: 0.25em;
        align-items: center;
        color: var(--clr-drk);
        cursor: pointer;
      }
    }

    &-box {
      display: flex;
      align-items: center;
      gap: 1em;

      &--left {
        margin-right: auto;
      }
    }
  }

  &__bot {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 100%;
    min-height: 100vh;
    max-width: 40rem;
    width: 30%;
    min-width: 15rem;
    background-color: var(--clr-bg);
    transition: transform 0.15s ease-in-out;
    z-index: 999;
    transform: translateX(0);

    //---------- scroll styling ---------//
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--clr-bg-lgt);
    }
    scrollbar-width: thin;
    scrollbar-color: var(--clr-bg-lgt) var(--clr-bg-lgt);
    //----------------------------------//

    &--active {
      transform: translateX(100%);
    }

    &-text {
      color: var(--clr-font-drk);
      font-size: 0.8em;
      padding: 0.25em 0;
      display: flex;
      border: 1px solid transparent;

      &--active {
        color: red !important;
      }
    }

    &-container {
      padding: 1rem;
      overflow-y: auto;
      height: 100vh;
      padding-bottom: 5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1em;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      li {
        width: fit-content;
      }

      a {
        font-size: 1em;
        font-weight: bold;
        color: var(--clr-font);
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      ul {
        margin-left: 1.5em;
      }
      .isTarget {
        color: red;
      }
    }
  }

  .svg-box {
    width: 1.5em;
    height: 1.5em;
  }

  &__logo {
    margin-right: auto;

    .image-container {
      width: 100px;
      height: 50px;

      img {
        object-fit: contain;
      }
    }
  }

  &__login {
    margin-top: auto;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;

    &--logout {
      color: #fff !important;
      background-color: #303030;

      svg {
        fill: #fff;
      }
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--clr-font-md);
    text-align: right;
  }
}

.searchbar {
  display: flex;
  gap: 0.5em;
  align-items: center;

  &__svg {
    cursor: pointer;
  }

  input {
    border: none;
    border-bottom: 1px solid rgb(129, 129, 129);
    outline: none;
    background-color: transparent;
  }

  input:focus {
    border-bottom: 1px solid rgb(29, 29, 29);
  }
}

@media (max-width: 1300px) {
  .navbar__link-box {
    display: none;
  }
}

@media (max-width: 700px) {
  .navbar-size {
    height: 6rem;
  }
  .navbar {
    height: 6rem;

    &__content {
      padding: 0em 0.5rem;
      padding-left: 0;
      gap: 4px;
    }
  }
  .searchbar {
    width: 100%;
    padding: 0 0.5rem;

    input {
      width: 100%;
    }
  }
}
