.navbar-size {
  width: 100%;
  height: 3rem;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1em;
  height: 3rem;
  position: fixed;
  top: 0;
  background-color: var(--clr-bg);
  z-index: 998;

  &__top {
    padding: 0em 1em;
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: space-between;

    &-feature {
      display: flex;
      gap: 1em;
      align-items: center;

      div {
        font-size: 1em;
        display: flex;
        gap: 0.25em;
        align-items: center;
        color: var(--clr-drk);
        cursor: pointer;
      }
    }

    &-box {
      display: flex;
      align-items: center;
      gap: 1em;

      &--left {
        margin-right: auto;

        svg {
          width: 1.75em;
          height: 1.75em;
          cursor: pointer;
        }
      }
    }
  }

  &__link-box {
    display: flex;
    gap: 0.5em;
    margin-left: 1em;
    li:hover a {
      border-bottom-color: var(--clr-font-drk);
    }
  }

  &__link {
    font-size: 0.8em;
    padding: 0.25em 0.75em;
    display: flex;
    border: 1px solid transparent;
    color: var(--clr-font-drk);

    &--active {
      border-bottom-color: var(--clr-font-drk);
    }
  }

  .svg-box {
    width: 1.5em;
    height: 1.5em;
  }

  &__logo {
    margin-right: auto;

    .image-container {
      width: 100px;
      height: 50px;

      img {
        object-fit: contain;
      }
    }
  }
}

.searchbar {
  display: flex;
  gap: 0.5em;
  align-items: center;

  &__svg {
    cursor: pointer;
  }

  input {
    border: none;
    border-bottom: 1px solid rgb(129, 129, 129);
    outline: none;
    background-color: transparent;
  }

  input:focus {
    border-bottom: 1px solid rgb(29, 29, 29);
  }
}

@media (max-width: 1300px) {
  .navbar__link-box {
    display: none;
  }
}
