body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---------- DEFAULT SETTING ---------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ---------- ROOT ----------- */
:root {
  --clr-primary: #fff;
  --clr-secondary: #fff;

  --clr-font: #3c3c3c;
  --clr-font-drk: #fff;
  --clr-font-lgt: #fff;

  --clr-link: #fff;

  --clr-warning: #fff;
  --clr-success: #fff;
  --clr-default: #fff;

  --clr-bg: #fff;

  --max-width: 2000px;
}

/* --------- GLOBAL SEETING ---------- */

.wrapper {
  max-width: var(--max-width);
  margin: auto;
}

.img-box {
  position: relative;
}

.img-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
