body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ---------- DEFAULT SETTING ---------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ---------- ROOT ----------- */
:root {
  --clr-primary: #fff;
  --clr-secondary: #fff;
  --clr-drk: #222222;

  --clr-font: #3c3c3c;
  --clr-font-drk: #1e1e1e;
  --clr-font-lgt: #e9e9e9;

  --clr-link: #fff;

  --clr-warning: #fff;
  --clr-success: #fff;
  --clr-default: #fff;

  --clr-bg: #fff;

  --w-max-l: 2000px;
  --w-max-m: 800px;
  --w-max-s: 400px;
}

/* --------- GLOBAL SEETING ---------- */

.wrapper {
  max-width: var(--max-width);
  margin: auto;
}

.img-box {
  position: relative;
}

.img-box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.svg-box svg {
  width: 100%;
  height: 100%;
  stroke-width: 1.5px;
}

@media (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 0.8rem;
  }
}
