.card {
  border: none !important;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  cursor: pointer;

  .image-container {
    aspect-ratio: 3/4.5;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;

      &:nth-of-type(1) {
        opacity: 1;
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
    }
  }

  &:hover {
    .image-container img:nth-of-type(2) {
      opacity: 1;
    }
  }
}

.card__info {
  padding: 0.25rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &-name {
    color: rgb(55, 55, 55);
  }

  span {
    font-weight: bold;
  }

  &-price {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &-saled {
    margin-left: auto;
    color: rgb(224, 67, 67);
  }
}
