.grid {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .landing__home .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .landing__home .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
