.grid {
  display: grid;
  width: 100%;
  max-width: 1800px;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 440px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
