.swiper {
  position: relative;

  &__btn-box {
    position: absolute;
    left: 1em;
    right: 1em;
    top: 50%;
    z-index: 99;
    transform: translateY(-50%);
    display: flex;
  }

  &__btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.171);
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;

    svg {
      fill: #fff;
    }

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.561);
    }
  }
}
